html {
  background-color: #eee;
}

* {
  box-sizing: border-box;
}

body {
  width: calc(100% - 2em);
  max-width: 1160px;
  margin: 30px auto;
  background-color: #fff;
}

img {
  max-width: 100%;
}

ul {
  padding-left: 1.4em;
}

li {
  margin-left: 2.4em;
  padding-left: 1.4em;
}

@media (max-width: 600px) {
  body {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  #layout-content {
    padding-right: 1.1em;
    padding-left: 1.1em;
  }

  li {
    margin-left: 0.4em;
    padding-left: 0.45em;
  }
}
